In [1]:
#pip install langdetect

In [1]:
import numpy as np
import pandas as pd
from langdetect import detect

In [2]:
#display all columns
pd.set_option("display.max.columns", None)
import re
import string
from nltk.corpus import stopwords

In [3]:
#Please change the path based on where files are located
path = '../data/'

books = pd.read_csv(path+'goodreads_cleaned.csv',low_memory=False)

In [23]:
books.head()

,book_id,title,isbn,isbn13,title_without_series,review_text,review_id,rating,user_id,authors,average_rating,country_code,edition_information,n_comments,n_votes,language_code,num_pages,publication_day,publication_month,publication_year,publisher,ratings_count,series,similar_books,text_reviews_count,work_id,genre,review_pos_score,review_neg_score,review_neu_score,review_compound_score,review_sentiment,review_length,review_language
0,11346143,Strange Case Of Origami Yoda,0810996502,9780810996502,Strange Case Of Origami Yoda,Quirky and silly will save it for my son when ...,a95478e83fb0549916181dec2e6c02de,3,ae6c9ceec7a41254191ffdb8852bd031,"[Row(author_id='3172535', role='')]",3.90,US,NaN,0,0,eng,154.0,NaN,NaN,NaN,NaN,143,['257006'],"['7172060', '6330886', '9564947', '7739868', '...",29,7415356,children,0.249,0.000,0.751,0.5106,Positive,15,en
1,12354883,Shadow the Sheep-dog,NaN,NaN,Shadow the Sheep-dog,I read this as a kid and enjoyed it and now ha...,d348df0f30853c95f16bf5f292e42bb9,3,1fee0f40606726eb46e30612e6dd8485,"[Row(author_id='10657', role=''), Row(author_i...",4.32,US,NaN,0,0,eng,188.0,NaN,NaN,1948.0,Angus and Robertson,10,[],"['794739', '2740021', '885350', '31964', '2220...",2,1433595,children,0.086,0.119,0.795,-0.8181,Negative,141,en
2,12734774,Mikolay and Julia Meet the Fairies (Mikolay an...,NaN,NaN,Mikolay and Julia Meet the Fairies (Mikolay an...,What a delightful children's story. I can't wa...,3c550b2365eb869d57d81236f4cfbf27,5,7f778517ad88c4feed6183c54b6403e5,"[Row(author_id='5236455', role='')]",4.65,US,NaN,0,1,eng,38.0,NaN,9.0,2010.0,Mayan Books,24,['305783'],[],10,17872488,children,0.201,0.019,0.780,0.9879,Positive,152,en
3,130196,The Trumpet of the Swan,0590406191,9780590406192,The Trumpet of the Swan,"Even as an adult, I enjoy some children's lite...",87379d304d5d38d555e9a04b8eafe74a,3,1fa3b5759854065c9d1e1048f38d2507,"[Row(author_id='988142', role=''), Row(author_...",4.06,US,NaN,0,0,eng,210.0,NaN,NaN,1970.0,NaN,280,[],"['89546', '24384', '827430', '240815', '426206...",43,1835542,children,0.217,0.000,0.783,0.9356,Positive,74,en
4,13790759,Sarah Gives Thanks: How Thanksgiving Became a ...,080757239X,9780807572399,Sarah Gives Thanks: How Thanksgiving Became a ...,More like a 3.5'er,d2acf777a2748ec4a481de94e17a1666,3,4b3548b067eaea2a7eb23eb45da9d375,"[Row(author_id='5861865', role=''), Row(author...",4.08,US,NaN,0,0,eng,32.0,1.0,9.0,2012.0,Albert Whitman Company,184,[],"['13330625', '9885866', '13414838', '12763989'...",49,19424630,children,0.482,0.000,0.518,0.4201,Positive,4,en

In [6]:
#books['review_text'] = books['review_text'].astype(str)

In [24]:
#language detection
def language_detection(text):
    try:
        return detect(text)
    except:
        return 'Unknown'

In [13]:
#len(books.loc[books['review_text'].isnull()])

In [9]:
books = books[books['review_text'].notna()]

In [10]:
books['review_length'] = books['review_text'].str.split().str.len()

In [17]:
books['review_length'] = books['review_length'].astype('int64')

In [9]:
#books[['review_text','review_sentiment']].loc[books['review_length'] == 1]

In [10]:
#language_detection(".")

In [11]:
#books['review_language'] = books['review_text'].apply(language_detection)

In [12]:
#language_detection(books['review_text'][126105])

In [13]:
#len(books['review_text'][70])

In [14]:
#books['review_text'][70]

In [8]:
#books.head()

In [5]:
#books.drop("Unnamed: 0",axis=1, inplace=True)

In [59]:
#books.drop("Unnamed: 0.1",axis=1, inplace=True)

In [592]:
books.review_language.value_counts()

en         54872
Unknown      287
es           287
id           199
de           182
af           176
sv           162
it           123
cy           122
pt           101
ro            92
tl            91
tr            41
fr            37
fi            27
nl            23
sl            20
hu            19
hr            18
vi            18
et            18
sw            15
lt            14
so            12
no            11
sq            10
cs             9
da             7
sk             6
lv             6
pl             4
ca             1
Name: review_language, dtype: int64

In [129]:
#books.at[4,'review_language'] = 'en'

In [589]:
id_update = [i for i in frdf[37:].index]
books.at[id_update,'review_language'] = 'en'

In [590]:
frdf = books[['review_text']].loc[books['review_language']=='fr']

In [ ]:
id_update = [i for i in frdf[37:].index]
books.at[id_update,'review_language'] = 'en'

In [591]:
frdf

                                             review_text
664          Un peu de reverie dans ce monde de brutes !
1695   J'ai lu ce livre il y a tres longtemps quand j...
2125             "si focus plait, design moi un mouton."
4650   Je ne connais pas tres bien l'histoire de Pete...
5508   Lexile 750L \n IL: MG - BL: 5.0 - AR Pts: 12.0...
7657   Gilly Hopkins est passee de foyers en foyers a...
8242   J'ai lu que cette saga jeunesse se situait a m...
9127   Je dois dire que j'avais hate de plonger dans ...
10394  Pas mal, mais definitivement le tome que j'ai ...
10575  Un recit enfantin rafraichissant. \n http://la...
10960  Un livre magnifique ! J'ai ete vraiment emue, ...
12863  L'histoire \n Ce livre, ce fut un coup de coeu...
13792  Pour un livre pour enfants, j'ai ete surprise ...
19879  Le meilleur livre que j'ai lu sur DW. Cette co...
20280  J'ai beaucoup aime l'atmosphere boheme, tous l...
22424                Pour le Merite \n example for life.
22514  Dans ses lettres adressees a Dieu, l'heroine r...
23443  3,5. C'est un peu lent a se mettre dedans, je ...
23807  Lire l'autobiographie d'un grand homme, en l'o...
26044  Lenteur, stagnation...puis le souffle, l'impat...
26744  j'aime bien l'histoire et le style de l'ecriva...
28150                                           Fabuleux
28160  Je ne savais que penser de ce M/M a la vue du ...
29200  J 811.54 CLAY-6, HCLS-5 \n Lexile 1170L \n IL:...
29220  10/20 \n Une histoire remplie de secrets qui p...
31162  Apres m'etre procure le premier tome que j'ai ...
31644                                    Tres charmante.
33476  Un bon mystere gothique, dans une atmosphere v...
33590  Je comprends mieux certaines reviews maintenan...
35479  MAgnifique objet-livre! \n http://moncoinlectu...
36559  Une lecture tres sympathique, qui vient en par...
37714  Un peu decu : trop court et de nouvelles quest...
39989  Bof.. ce livre merite un 2,5. Ca se lit bien, ...
40684  Tres bon livre pour le train, visuel, irrevere...
41680  http://www.leslecturesdemylene.com/20... \n 17...
46810  Londres, 1944. Alors que les V2 sifflent sur l...
51793  Original mais complexe ; je n'ai pas accroche ...

In [413]:
#books.loc[[13040,19146]]

In [192]:
#lvdf = clean['review_text'].loc[clean['review_language']=='lv']
#csdf = clean['review_text'].loc[clean['review_language']=='cs']
#sqdf = clean['review_text'].loc[clean['review_language']=='sq']
#ltdf = clean['review_text'].loc[clean['review_language']=='lt']
#swdf = clean['review_text'].loc[clean['review_language']=='sw']
#hudf = clean['review_text'].loc[clean['review_language']=='hu']
#skdf = books[['review_text']].loc[books['review_language']=='sk']
#hrdf = books[['review_text']].loc[books['review_language']=='hr']
#pldf = books[['review_text']].loc[books['review_language']=='pl']
#vidf = books[['review_text']].loc[books['review_language']=='vi']
#fidf = books[['review_text']].loc[books['review_language']=='fi']
#etdf = books[['review_text']].loc[books['review_language']=='et']
#trdf = books[['review_text']].loc[books['review_language']=='tr']
#nodf = books[['review_text']].loc[books['review_language']=='no']
#sldf = books[['review_text']].loc[books['review_language']=='sl']
#cadf = books[['review_text']].loc[books['review_language']=='ca']
#sodf = books[['review_text']].loc[books['review_language']=='so']
#dadf = books[['review_text']].loc[books['review_language']=='da']
#nldf = books[['review_text']].loc[books['review_language']=='nl']
#frdf = books[['review_text']].loc[books['review_language']=='fr']

In [225]:
hudf = clean['review_text'].loc[clean['review_language']=='hu']
hudf

1208                                               A \n SM
4825     A kicsit butuska-naiv Kacsa Jolant aranyosnak ...
6455                                          A \n E \n SM
18166                                               A \n O
23281                                         A \n SM \n O
33767    Szemelyes okokbol kifolyolag lassan tudtam csa...
37715                                                A 3.5
39277                                              A \n SM
39805    Meg legalabb egy AC konyv tervben van, de ha o...
52826                                               A \n O
Name: review_text, dtype: object

In [25]:
#language_detection(books['review_text'][1:16])

In [152]:
books.at[id_update,'review_language'] = 'en'

,book_id,title,isbn,isbn13,title_without_series,review_text,review_id,rating,user_id,authors,average_rating,country_code,edition_information,n_comments,n_votes,language_code,num_pages,publication_day,publication_month,publication_year,publisher,ratings_count,series,similar_books,text_reviews_count,work_id,genre,review_pos_score,review_neg_score,review_neu_score,review_compound_score,review_sentiment,review_length,review_language
26575,1911,The World Is Flat: A Brief History of the Twen...,0374292795,9780374292799,The World Is Flat: A Brief History of the Twen...,Eye-Opener!,327d0223e57b86a6ff29dbe3a0cfae2c,5,13dd85c07e2826672d6475b3a25a5625,"[Row(author_id='16759765', role='')]",3.66,US,NaN,0,0,eng,616.0,18.0,4.0,2006.0,"Farrar, Straus and Giroux (NY)",79587,[],"['2120783', '178789', '2467566', '154341', '98...",2674,711993,history,0.0,0.0,1.0,0.0,Neutral,11,no

In [159]:
len(books)

129797

In [160]:
len(books.drop_duplicates())

57024

In [161]:
books_clean = books.drop_duplicates()

In [162]:
books_clean.head()

,book_id,title,isbn,isbn13,title_without_series,review_text,review_id,rating,user_id,authors,average_rating,country_code,edition_information,n_comments,n_votes,language_code,num_pages,publication_day,publication_month,publication_year,publisher,ratings_count,series,similar_books,text_reviews_count,work_id,genre,review_pos_score,review_neg_score,review_neu_score,review_compound_score,review_sentiment,review_length,review_language
0,11346143,Strange Case Of Origami Yoda,0810996502,9780810996502,Strange Case Of Origami Yoda,Quirky and silly will save it for my son when ...,a95478e83fb0549916181dec2e6c02de,3,ae6c9ceec7a41254191ffdb8852bd031,"[Row(author_id='3172535', role='')]",3.90,US,NaN,0,0,eng,154.0,NaN,NaN,NaN,NaN,143,['257006'],"['7172060', '6330886', '9564947', '7739868', '...",29,7415356,children,0.249,0.000,0.751,0.5106,Positive,66,en
1,12354883,Shadow the Sheep-dog,NaN,NaN,Shadow the Sheep-dog,I read this as a kid and enjoyed it and now ha...,d348df0f30853c95f16bf5f292e42bb9,3,1fee0f40606726eb46e30612e6dd8485,"[Row(author_id='10657', role=''), Row(author_i...",4.32,US,NaN,0,0,eng,188.0,NaN,NaN,1948.0,Angus and Robertson,10,[],"['794739', '2740021', '885350', '31964', '2220...",2,1433595,children,0.086,0.119,0.795,-0.8181,Negative,792,en
2,12734774,Mikolay and Julia Meet the Fairies (Mikolay an...,NaN,NaN,Mikolay and Julia Meet the Fairies (Mikolay an...,What a delightful children's story. I can't wa...,3c550b2365eb869d57d81236f4cfbf27,5,7f778517ad88c4feed6183c54b6403e5,"[Row(author_id='5236455', role='')]",4.65,US,NaN,0,1,eng,38.0,NaN,9.0,2010.0,Mayan Books,24,['305783'],[],10,17872488,children,0.201,0.019,0.780,0.9879,Positive,861,en
3,130196,The Trumpet of the Swan,0590406191,9780590406192,The Trumpet of the Swan,"Even as an adult, I enjoy some children's lite...",87379d304d5d38d555e9a04b8eafe74a,3,1fa3b5759854065c9d1e1048f38d2507,"[Row(author_id='988142', role=''), Row(author_...",4.06,US,NaN,0,0,eng,210.0,NaN,NaN,1970.0,NaN,280,[],"['89546', '24384', '827430', '240815', '426206...",43,1835542,children,0.217,0.000,0.783,0.9356,Positive,426,en
4,13790759,Sarah Gives Thanks: How Thanksgiving Became a ...,080757239X,9780807572399,Sarah Gives Thanks: How Thanksgiving Became a ...,More like a 3.5'er,d2acf777a2748ec4a481de94e17a1666,3,4b3548b067eaea2a7eb23eb45da9d375,"[Row(author_id='5861865', role=''), Row(author...",4.08,US,NaN,0,0,eng,32.0,1.0,9.0,2012.0,Albert Whitman Company,184,[],"['13330625', '9885866', '13414838', '12763989'...",49,19424630,children,0.482,0.000,0.518,0.4201,Positive,18,en

In [163]:
len(books_clean)

57024

In [594]:
books.to_csv('goodreads_cleaned.csv', index = False)

In [176]:
clean = pd.read_csv(path+'goodreads_cleaned.csv',low_memory=False)

In [221]:
clean.review_language.value_counts()

en         54522
Unknown      288
es           287
id           199
de           182
af           176
sv           162
it           123
cy           122
tl           104
pt           101
ro            92
fr            86
nl            60
so            57
da            57
sl            50
ca            50
no            47
et            42
tr            42
fi            36
vi            27
pl            25
hr            22
sk            21
hu            19
lt             8
cs             7
lv             4
sw             3
sq             2
Name: review_language, dtype: int64

In [212]:
clean.at[3547,'review_language'] = 'Unknown'

In [214]:
id_update = []
for i in swdf.index:
    id_update.append(i)

In [217]:
for i in [24817,44858,46455]:
    id_update.remove(i)

In [223]:
id_update = [3393,10568,17793,19056,24885,31080,49600,52204,55595]